<template>
    <app-navigator></app-navigator>
</template>

<script>
    import {
        createAppContainer,
        createStackNavigator,
    } from "vue-native-router";

    import SignIn from "./components/Auth/SignIn";
    import SignUp from "./components/Auth/SignUp";

    const StackNavigator = createStackNavigator(
        {
            SignIn: SignIn,
            SignUp: SignUp,

        },
        {
            initialRouteName: 'SignIn',
        }
    );

    const AppNavigator = createAppContainer(StackNavigator);

    export default {
        components: {AppNavigator},
    }
</script>