<template>
    <view class="container">
        <text class="text-color-primary">{{title}}</text>
        <view class="form">
            <view class="form-group">
                <text-input
                        class="form-control"
                        v-model="email"
                        placeholder="E-mail"
                />
            </view>
            <view class="form-group">
                <text-input
                        class="form-control"
                        v-model="password"
                        placeholder="Password"
                />
            </view>
            <view class="form-group">
                <button
                        :on-press="submit"
                        title="Sign in"
                        class="btn btn-primary"
                        accessibility-label="Learn more about this purple button"
                />
            </view>
        </view>
    </view>
</template>
<script>
    export default {
        props: {
            navigation: {
                type: Object
            }
        },
        data() {
            return {
                title: "Sign In",
                email: "",
                password: "",
            }
        },
        methods: {
            submit() {
                this.navigation.navigate("SignUp");
            }
        }
    }
</script>
<style>
    .container {
        background-color: white;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .text-color-primary {
        color: blue;
    }

    .form-group {
        margin-top: 30px;
    }

    .form-control {
        border-radius: 10px;
        border-width: 1px;
        border-color: beige;
        height: 40px;
        padding: 2px;
        width: 200px;
    }

    .btn{
        border-radius: 10px;
        border-width: 1px;
        height: 40px;
        width: 200px;
    }

    .btn-primary{
        border-color: blue;
        color:blue;
    }
</style>
